.Face {
  width: 50%;
  transform: translateX(100%);
}

.face-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
}
