.LearnDetail {
  width: 65%;
}

.learn-detail-image {
  width: 15%;
  min-width: 75px;
  height: auto;
  min-height: 75px;
  background: linear-gradient(to left, #ff6781, #f48fb1);
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  margin: 5px auto;
}