.google-button {
  height: 20px;
  width: auto;
  margin: 2px;
}

.login-button {
  justify-content: center;
}

.AuthCard {
  display: flex;
  justify-content: center;
  margin: 4% 10%;
  padding: 1%;
}

.logo-auth {
  height: auto;
  width: 60%;
  margin: auto;
  padding: 1% 0;
}
