// LEFTS
.eyeshadow {
  top: 15%;
  position: absolute;
  text-align: left;
  width: 38%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.mascara {
  top: 25%;
  position: absolute;
  text-align: left;
  width: 38%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.lipstick {
  top: 50%;
  position: absolute;
  text-align: left;
  width: 38%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.blush {
  top: 40%;
  position: absolute;
  text-align: left;
  width: 38%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

// RIGHTS
.foundation {
  top: 52%;
  right: 2%;
  position: absolute;
  text-align: right;
  width: 35%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.concealer {
  top: 25%;
  right: 2%;
  position: absolute;
  text-align: right;
  width: 35%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.powder {
  top: 45%;
  right: 2%;
  position: absolute;
  text-align: right;
  width: 35%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.eyeliner {
  top: 35%;
  right: 2%;
  position: absolute;
  text-align: right;
  width: 35%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.bronzer {
  top: 15%;
  right: 2%;
  position: absolute;
  text-align: right;
  width: 35%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

